* {
	margin:0;
	padding:0;
}

.column_grid {
	display: grid;
	min-width: 720px;
	height: 720px;
	grid-template-columns: 50% 50%;
	font-family: Helvetica;
}

/* div {
	border: 1px solid maroon;
} */

/* content left */

.left_content {
	grid-column: 1 / 1;
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.9)), url("img/Pyra.jpg") center/cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) */

.box_A {
	margin:10px;
	padding: 5px;
	text-align: center;
	height:80px;
	width:600px;
}

.box_A div {
	color:#eaeff3;
	text-transform: uppercase;
	font-size: 18px;
}

/* content right*/

.right_content {
	grid-column: 2 / 2;
	background: linear-gradient(rgba(34,34,34,1), rgba(34,34,34,1));
	color: rgb(230,230,230);
	display: flex;
	flex-direction: column;
	min-width: 400px;
}

.blog_container {
	margin:30px;
}

.box_B {

}

.navigation {
	background-color: black;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 15px 0px;
}
.nav_button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0px;
	padding: 10px 20px;
	background-color: grey;
	border: none;
	border-radius: 4px;
	color: #eaeff3;
}
.nav_button a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: #eaeff3;
}



.about_me {
	display: grid;
	grid-template-columns: 200px 1fr;
}

.about_me_content {
	margin: 10px;
}

/* footer */

.footer {
	min-width: 400px;
	height: 100px;
	margin: 10px;
}
