* {
	margin:0;
	padding:0;
}

.main {
	min-width: 720px;
	height: 720px;
	font-family: Helvetica;
}

/* div {
	border: 1px solid maroon;
} */

/* header */
.title_header {
	background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7)), url("img/dalamund.png") center/cover;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 540px;
}

.box_A {
	margin:0px;
	padding: 35px 45px;
	text-align: center;
	height:auto;
	width:auto;
	border: 1px solid rgba(255,255,255,0.7);
}

.box_A div {
	/* color:#eaeff3; */
	text-transform: uppercase;
	font-size: 22px;
	/* line-height: 40px; */
}
.box_A h3 {
	font-size: 19px;
	font-weight: lighter;
	margin-top: 30px;
}

/* content */
.content {
	background: linear-gradient(rgba(34,34,34,1), rgba(34,34,34,1));
	color: rgb(230,230,230);
	display: flex;
	flex-direction: column;
	min-width: 400px;
	border:1px solid maroon;
}

/* navigation section */
.navigation {
	background-color: rgb(42,42,42);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding: 0px 10px;
	/* color: rgb; */

}
.nav_button {
	margin: 0px 0px;
	padding: 20px 20px;
	border: none;
	/* border-radius: 4px; */
	transition: 0.5s;
}

.nav_button:hover  {
	background-color: rgba(80,80,80,0.5);
	color:rgb(240,240,240);

}

.nav_button a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	transition: 0.5s;
	text-decoration: none;
	color:grey;
}

.nav_button:hover a {
	color:rgb(240,240,240);
}

/* About section */
.content_2{
	display: grid;
	grid-template-columns: 260px 1fr;
	margin:0px;

}
.about_container {
	width:200px;
	margin:30px;
	margin-left: 40px;
}

.flex_container {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: -3px 3px 8px 3px rgba(0,0,0,0.4);
}

.about_me {
	align-self: center;
	background-color: rgb(50,50,50);
}

.about_me h5 {
	font-weight: lighter;
	font-size: 12px;
	margin-top: 5px;
}

.image_portrait {
	box-sizing: border-box;
	height: 200px;
	width: 200px;
}
.image_portrait img {
	width: 200px;
	height: 200px;
}

.about_me_content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	box-sizing: border-box;
	width:200px;
	height:180px;
	margin: 0px;
	padding: 15px 15px 15px 10px;
}
.about_me_content p {
	font-size: 12px;
}

/* Blog section */
.blog_container {
	width: auto;
	max-width: 800px;
	margin:30px;
}
.blog {
	margin: 0px;
	padding: 15px;
	height: 300px;
	background-color: rgb(43,43,43);
	box-shadow: -2px 2px 8px 2px rgba(0,0,0,0.2);
}

hr {
	height:1px;
	border:0;
	border-top: 1px solid rgb(100,100,100);
	margin:1em 0px;
	padding:0px;
}

.spacer {
	flex-grow: 1;
}

/* footer */
.footer {
	display: flex;
	justify-content: center;
	min-width: 400px;
	margin: 0px;
	padding: 25px 0px;
	text-align: center;
	background:linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.3));
}
